@model Category
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                @ViewBag.Title
            </header>
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Kategori Adı</label>
                        <div class="col-lg-10">
                            <input name="CategoryName" type="text" class="form-control" placeholder="kategori adı">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Açıklama</label>
                        <div class="col-lg-10">
                            <input name="Description" type="text" class="form-control" placeholder="açıklama">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-danger">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

